<a href="https://colab.research.google.com/github/sabumjung/DL-test/blob/master/LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 서론
+ LSTM은 과거 정보를 저장할 수 있기 때문에 시퀀스 예측 문제에 적합함
+ 예) 이전 가격이 미래 가격을 예측하는데 중요한 경우 유용하게 사용할 수 있음

## 라이브러리를 가져오기
+ 먼저 과학적 계산을 위해 NumPy를
+ 그래프를 그리기 위해 Matplotlib를
+ 데이터셋 로드 및 조작을 위하 Pandas를

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# 깃허브를 Colab과 연동시키기

In [17]:
!git clone https://github.com/mwitiderrick/stockprice.git

Cloning into 'stockprice'...
remote: Enumerating objects: 8, done.
remote: Counting objects: 100% (2/2), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 8 (delta 0), reused 0 (delta 0), pack-reused 6
Unpacking objects: 100% (8/8), done.

In [24]:
ls -ltr

total 8
drwxr-xr-x 1 root root 4096 Mar 23 14:22 sample_data/
drwxr-xr-x 3 root root 4096 Mar 24 23:27 stockprice/

## 데이터셋 로딩하기
+ 훈련용 데이터셋을 로딩하고
+ 모델링에서 사용하고자 하는 컬럼인 Open과 High을 선택한다.

In [29]:
dataset_train = pd.read_csv('stockprice/NSE-TATAGLOBAL.csv')
training_set = dataset_train.iloc[:, 1:2].values

In [31]:
dataset_train.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-09-28,234.05,235.95,230.20,233.50,233.75,3069914,7162.35
1,2018-09-27,234.55,236.80,231.10,233.80,233.25,5082859,11859.95
2,2018-09-26,240.00,240.00,232.50,235.00,234.25,2240909,5248.60
3,2018-09-25,233.30,236.75,232.00,236.25,236.10,2349368,5503.90
4,2018-09-24,233.55,239.20,230.75,234.00,233.30,3423509,7999.55

##  Feature Scaling
+ 이전 경험으로부터 최적 성능을 위한 데이터를 스케일링해야 한다. 이 경우 Scikit-Learn의 MinMaxScaler를 사용하여 모든 데이터가 0에서 1까지 위치하도록 한다.

In [32]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
training_set_scaled = sc.fit_transform(training_set)